#include "windows.h"
#include "resource.h"

IDR_MYMENU MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "E&xit", ID_FILE_EXIT
END

POPUP "&Help"
BEGIN
MENUITEM "A&bout", ID_HELP_ABOUT
END
END


IDI_MYICON ICON "menu_one.ico"
IDI_1ICON ICON "assets\\1.ico"
IDI_2ICON ICON "assets\\2.ico"
IDI_3ICON ICON "assets\\3.ico"
IDI_4ICON ICON "assets\\4.ico"
IDI_5ICON ICON "assets\\5.ico"
IDI_6ICON ICON "assets\\6.ico"
IDI_7ICON ICON "assets\\7.ico"
IDI_8ICON ICON "assets\\8.ico"
IDI_9ICON ICON "assets\\9.ico"
IDI_0ICON ICON "assets\\0.ico"
IDI_PICON ICON "assets\\+.ico"
IDI_MICON ICON "assets\\-.ico"
IDI_XICON ICON "assets\\x.ico"
IDI_SICON ICON "assets\\s.ico"
IDI_CICON ICON "assets\\C.ico"
IDI_EICON ICON "assets\\=.ico"

// Adding a dialog box with DialogBox() Modal dialogs
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66 //DIALOG is a resource type, the numbers are left, top, width, height in Dialog Units
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 10, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON   "&OK", IDOK, 174, 18, 50, 14 //OK button, IDOK pre-defined
LTEXT           "This calculator was built in C using WinAPI and an external library called ""tinyexpr"".\nMade by Tomer Cohen and Shani Hamami\r\n\r\n", //\r\n is the way Windows represent a new line
IDC_STATIC, 16, 18, 144, 33
END